<!DOCTYPE html>

<html>
    <head>
        <title>Help</title>
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    
    <body>
        <div class="main-content">
            {{>header}}
        <p>
            You <em>squeaky Little</em> thing you won't find help in this World!
        </p>
        </div>
        {{>footer}}
    </body>
</html>